@use '../abstracts';

footer {
background-color: abstracts.$coral;
margin-top: 100px;

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

    // #footer-logo {
    //     width: 170px;
    //     height: auto;
    //     margin-top: 40px;
    // }

    #footer-text {
        margin-top: 20px;
    }

    #footer-nav ul {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    #footer-nav ul li {
        margin: 15px 0;
    }

    #footer-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            border-bottom: 2px solid #fff;
            transition: border-bottom 0.2s ease-in-out;
        }
    }

    #footer-hr {
        width: 100%;
        border: none;
        border-bottom: 0.5px solid #fff;
        margin-top: 50px;
    }

    #contact-info {
        background-color: abstracts.$rich-black;
    }

    p#copyrights {
        text-align: center;
        color: #fff;
        font-size: 14px;
        margin-top: 40px;
    }

    #icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    img.social-icon {
        height: 25px;
        width: auto;
    }

    #footer-message {
        text-align: center;
        margin-top: 80px;

        p {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }

        a {
            color: abstracts.$coral;
            background-color: abstracts.$beige;
            text-decoration: none;
            font-weight: 500;
            padding: 20px 40px;
            margin: 10px 0;
            display: inline-block;
            border-radius: 5px;

            &:hover {
                color: #fff;
                background-color: abstracts.$rich-black;
                transition: all 0.2s ease-in-out
            }
        }
    }
}

.dark-footer {
        background-color: abstracts.$beige;

        #footer-nav ul li a {
        color: abstracts.$rich-black;
        &:hover {
            border-bottom: 2px solid abstracts.$rich-black;
        }
    }

    #footer-message {

        p {
            color: abstracts.$rich-black;
        }

        a {
            color: #fff;
            background-color: abstracts.$rich-black;
            text-decoration: none;
            font-weight: 500;
            padding: 20px 40px;
            margin: 10px 0;
            display: inline-block;
            border-radius: 5px;

            &:hover {
                background-color: abstracts.$coral;
            }
        }
    }

    #footer-hr {
        border-bottom: 0.5px solid abstracts.$rich-black;
    }

    #contact-info {
        background-color: abstracts.$coral;
    }
    
}

@media screen and (min-width:768px) {

    footer {
        #footer-nav ul li a {
        font-size: 18px;
    }

    #footer-nav ul {
        gap: 60px;
    }
    }

}