@use '../abstracts';

header {

    #header-logo, #menu-show img {
        height: 50px;
        width: auto;
        margin-top: 20px;
    }

    #menu-show {
        display: flex;
        justify-content: end;
        cursor: pointer;
    }

    input#hamburger {
        display: none;
    }    


    #header-nav nav ul {
        list-style: none;
    }

    #header-nav nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-weight: 900;
        transform: scale(1);
        transition: scale 0.3s ease-in-out;
    }

    #header-nav nav ul li {
        margin: 25px 0;
    }

    #header-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        background-color: abstracts.$rich-black;
        opacity: 0;
        transform: translateX(100%);
        z-index: 1000; 
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    input#hamburger:checked ~ #header-nav {
        transform: translateX(0);
        opacity: 1;
    }

    #header-nav-close {
        font-weight: 900;
        font-size: 32px;
        color: #fff;
        display: flex;
        justify-content: end;
        margin-right: 30px;
        margin-top: 30px;
        cursor: pointer;
    }
}

.dark-header #header-nav {
    background-color: abstracts.$beige;
}

.dark-header #header-nav nav ul li a {
    color: abstracts.$rich-black;
}

.dark-header #header-nav-close {
    color: abstracts.$rich-black;
}
@media screen and (min-width: 768px) {
    header {
        #menu-show, #header-nav-close {
            display: none;
        }

        #header-logo {
        height: 50px;
        width: auto;
        margin-top: 20px;
    }

    #header-nav nav ul li {
        margin: 20px 0;
    }

        #header-nav {
            opacity: 1;
            transform: translateX(0);
            background-color: transparent;
            position: static;
            height: auto;
            width: auto;
            transition: none;
        }

        #header-nav nav ul {
            display: flex;
            gap: 40px; 
            align-items: center;
            justify-content: flex-end;
        }

        #header-nav nav ul li a {
            color: #000;
            font-size: 24px;
            &:hover {
                padding-bottom: 3px;
                border-bottom: 4px solid abstracts.$rich-black;
            }
        }

        #header-nav nav ul li:last-child a {
            color: #fff;
            background-color: abstracts.$rich-black;
            padding: 8px 25px;
            border-radius: 25px;
            &:hover {
                background-color: abstracts.$coral;
                transition: all 0.3s ease-in-out;
            }
        }
    }
.dark-header #header-nav nav ul li a {
    color: #fff;


    &:hover {
        border-bottom: 4px solid #fff;
    }
}

.dark-header #header-nav {
    background-color: transparent;
}

.dark-header #header-nav nav ul li:last-child a {
            color: abstracts.$rich-black;
            background-color: abstracts.$beige;
            padding: 8px 25px;
            border-radius: 25px;
            &:hover {
                background-color: abstracts.$coral;
                transition: all 0.3s ease-in-out;
            }
    
}
}

@media screen and (min-width: 1200px) {
    header {
        #header-nav nav ul {
            gap: 80px; 
        }
    }
}