@use '../abstracts';

#player-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

video {
    border-radius: 5px;
}

#center-play-button {
    position: absolute;
    top: 45%;
    left: 41%;
}

#center-play-button .fa-circle-play {
  font-size: 45px;
  color: abstracts.$rich-black;
}

.video-controls.hidden {
  display: none;
}

.video-controls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    display: flex;
    transition: all 0.3s ease;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.fa, .fa-solid {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
}

.fa-volume-up {
    margin-left: auto;/* take up the room as mush as it can */
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 11.5rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #fff4e4;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #fff4e4;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}