@use '../abstracts'; 

#about-me {
    h3#title {
        font-size: 50px;
        font-weight: 900;
        margin: 50px 0;
    }

    h3.introduce {
        font-size: 24px;
    }

    #about-img {
        height: 300px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 50px;
    }

    #bio {
        p {
            font-size: 18px;
            margin-top: 10px;
            color: rgb(47, 47, 47);
        }
    }
}

@media screen and (min-width:1200px) {
    #about-me {
    h3#title {
        font-size: 96px;
        font-weight: 900;
        margin: 80px 0;
        color: rgb(45, 45, 45);
    }
    
    #about-img {
        height: 305px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-bottom: 60px;
    }

    h3.introduce {
        margin: 30px 0 10px 0 ;
        font-size: 35px;
    }

    article#bio p {
        margin: 0;
    }
}
}

@media screen and (min-width:1200px) {
    #about-me {
    h3 {
        font-size: 128px;
        font-weight: 900;
        margin: 100px 0;
    }
    
    #about-img {
        height: 350px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-bottom: 80px;
    }

    p {
        margin-bottom: 100px;
    }
}
}