@use '../abstracts'; 

#about-me {
    h3#title {
        font-size: 50px;
        font-weight: 900;
        margin: 50px 0 30px 0;
    }

    h3.introduce {
        font-size: 24px;
    }

    #about-img {
        border-radius: 5px;
        margin: 0 20px 30px 20px;
    }

    p {
        margin-bottom: 50px;
    }

    #my-story {
        p {
            font-size: 15px;
            line-height: 20px;
            padding: 0 10px;
        }
    }

    #bio {
        p#name {
            margin-left: 5px;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
            margin-left: 5px;
            color: rgb(47, 47, 47);
        }
    }

    hr {
        border: none;
        border-top: 2px solid abstracts.$coral;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:768px) {
    #my-story p {
        margin-top: 20px;
    }

    #bio {
        h5 {
            margin-left: 5px;
            font-size: 20px;
            margin-bottom: 5px;
        }
    }

    
}

@media screen and (min-width:1200px) {
    #about-me {
    h3#title {
        font-size: 70px;
        font-weight: 900;
        margin: 80px 0 50px 0;
        color: rgb(45, 45, 45);
    }
    
    #about-img {
        border-radius: 5px;
        margin-bottom: 60px;
    }

    h3.introduce {
        margin: 10px 0 10px 0 ;
        font-size: 35px;
    }

}
}

