@use '../abstracts';

#intro {
    margin-top: 80px;

    #project-name {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .summary {
        margin-right: 20px;
        margin-bottom: 30px;
    }

    a#website {
        color: #000;
    }

    #period {
        margin-top: 40px;
    }

    #period, #role, #tools, #collab {
        margin-bottom: 5px;
    }

    .details {
        margin-bottom: 20px;
        font-size: 15px;
    }

    hr {
        border: none;
        border-top: 2px solid abstracts.$coral;
    }

    .copyrights {
        margin: 20px 20px 40px 0px;
        font-size: 13px;
    }

}

    .project-imags img {
        border-radius: 5px;
}

.hor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#challenges {
    margin-top: 50px;
    margin-bottom: 80px;

    h3 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 30px;
    }
    p {
        margin-right: 20px;
    }
    hr {
        border: none;
        border-top: 2px solid abstracts.$coral;
    }
}

#next-project {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
    background-color: abstracts.$coral;
    text-align: center;
    margin: 50px auto;
    padding: 20px 40px;
    border-radius: 25px;
}