@use '../abstracts';

#contact {
    margin: 10px auto;

    h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

p#sub-title {
    text-align: center;
    margin-bottom: 70px;
}
#contactform-box {
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
}

#contactform-box input {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Albert Sans", sans-serif;
}

#contactform-box textarea {
    width: 100%;
    background-color: transparent;
        outline: none;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 230px;
        font-family: "Albert Sans", sans-serif
}

#contactform-box  p {
    margin: 10px 0;
}

.input-title {
    font-size: 24px;
    font-weight: 900;
}

.input-box {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

select {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Albert Sans", sans-serif;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}
input#submit-btn {
    background-color: #7D7D7D;
    color: #fff;
    margin: 0 auto;
    outline: none;
        height: 60px;
        margin-top: 20px;
        font-size: 20px;
        border: none;
}
}