@use '../abstracts';

#my-skills {
    background-color: abstracts.$rich-black;
    color: #fff;

    h3 {
        text-transform: uppercase;
        margin: 60px 60px 40px 0;
        font-size: 24px;
        font-weight: 600;
    }

    #skill-con .skill h4 {
        font-size: 18px;
    }

    #skill-con .skill p {
        margin-top: 10px;
    }

    .skill {
        margin: 40px 0;
    }
}
