@use '../abstracts';

#hero img {
    margin: 80px auto;
}


#my-skills {
    background-color: abstracts.$rich-black;
    color: #fff;

    #skill-con {
        padding-top: 100px;
    }

    #skill-con .skill p.num_name {
        font-size: 20px;
        text-transform: uppercase;
    }

    .skill-title p.num_name:first-child {
        width: 20px;
}

    .skill {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 40px 0;
    }

    .skill-title {
        display: flex;
        gap: 40px;
    }

    #skill-con .skill p.skill_list {
        margin-top: 10px;
        margin-left: 61px;
    }

    #player-container {
        margin: 80px 0;
    }

    video {
    border-radius: 15px;
}

}
#work-show a {
    color: #000;
    text-decoration: none;
}

    .work-gallery-con {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 30px 0 15px 0;
    }


        .work-card {
        flex-shrink: 0;
    

    img {
        width: 380px;
        height: auto;
        border-radius: 10px;
    }
}



        button.arrow {
            background-color: #292624b0;
            color: #fff;
            border-radius: 50px;
            border: transparent;
            padding: 10px 14px;
            cursor: pointer;
            transform: scale(0.9);
        }


#work-show {
    h3#section-title {
        font-size: 40px;
        margin: 50px auto 20px auto;
    }

    hr#top {
        border: none;
        border-top: 1px solid abstracts.$rich-black;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    hr#bottom {
        border: none;
        border-top: 1px solid abstracts.$rich-black;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}


.work-con {


    h3.work-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    p.category {
        font-size: 14px;
        text-align: center;
    }

    #work-last {
        margin-top: 30px;
    }
}

#about-card {
    padding: 70px 0 80px 0;

    h3 {
        font-size: 35px;
            color: abstracts.$coral;
        }

        p {
            margin-top: 15px;
        }

        a {
            background-color: abstracts.$coral;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 20px 0 10px 0;
            display: inline-block;
            width: auto;
            border-radius: 5px;

            &:hover {
                background-color: abstracts.$rich-black;
                transform: scale(1.05);
                transition: all 0.2s ease-in-out;
            }
        }

        img {
            padding: 20px 30px 0px 0;
            filter: drop-shadow(30px 30px abstracts.$rich-black);
            height: 250px;
            width: auto;
        }

        }


@media screen and (min-width:768px) {

    #my-skills {

        h3 {
            margin-right: 90px;
        }

        #skill-con {
        display: flex;
        justify-content: space-between;
    }

    #center-play-button {
    top: 45%;
    left: 45%;
}
    }

    #work-garllery {
        
        #work-gallery-con {
            width: auto;
            height: auto;
        }
    }

    button.arrow {
            transform: scale(0.8);
        }

    .work-card img {
        width: 300px;
        height: auto;
    }
    #about {
        #about-card {
            height: 520px;
        }
    }

    .work-con {
    h3.work-title {
        font-size: 27px;
        font-weight: 700;
        text-align: center;
    }

    p.category {
        font-size: 16px;
        text-align: center;
    }
}

#about-card {
    padding: 100px 0;

    h3 {
        font-size: 45px;
        margin-top: 40px;
        }

        a {
            font-size: 18px;
            padding: 15px 25px;
            margin: 20px 0 10px 0;
        }

        img {
            height: auto;
            width: auto;
        }

        }
    
}

@media screen and (min-width:1200px) {

    #my-skills {

        h3 {
            margin-right: 80px;
        }
    }

    #work-garllery {
        #work-gallery-con {
            width: auto;
        }
    }

    .work-card img {
        width: 450px;
        height: auto;
    }

    #about {

        #about-card {
            height: 520px;
            margin: 0 auto;
        }
    }
    
}