@use '../abstracts';

#work-showcase {
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-right: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .landscape {
        width: 290px;
        height: 175px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }

    .portolate-right {
        width: 290px;
        height: 355px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-left: 170px;
    }

    p {
        margin-bottom: 50px;
    }

    p.margin {
        margin-left: 45px;
    }

    .portolate-left {
        width: 290px;
        height: 355px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }
}

@media screen and (min-width: 768px) {
    #work-showcase {
    h3 {
        font-size: 36px;
        font-weight: 600;
        margin-right: 100px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .landscape {
        width: 355px;
        height: 215px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }

    .portolate-right {
        width: 310px;
        height: 382px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-left: 60px;
    }

    p {
        margin-bottom: 50px;
    }

    p.margin {
        margin-left: 55px;
    }

    .portolate-left {
        width: 310px;
        height: 382px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }
}
    
}

@media screen and (min-width: 1200px) {
    #work-showcase {

    .landscape {
        width: 575px;
        height: 345px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }

    .portolate-right {
        width: 490px;
        height: 605px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
        margin-left: 60px;
    }

    p {
        margin-bottom: 50px;
    }

    p.margin {
        margin-left: 55px;
    }

    .portolate-left {
        width: 490px;
        height: 605px;
        background-color: rgba(128, 128, 128, 0.379);
        border-radius: 5px;
    }
}
    
}